body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
    font-size: xx-large;
    background-color: #3b3b3b;
}
#capture{
    height: 700px;
    width: 100%;
    display: grid;
}
.form-conteiner{
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgb(3,185,24);
    background: rgb(0,232,255);
    background: linear-gradient(81deg, rgba(0, 234, 255, 0.301) 51%, rgba(5, 240, 32, 0.404) 84%);
    height: 100%;
    padding-bottom: 20px;
    border: 2px solid black;
    display: flex;
}

.form-contentx{
    width: 80%;
    justify-content: center;
    align-items: center;
}

.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.form-contentx label{
    font-size: large;
}
.form-conteiener label{
    align-items: center; ;
}

input[type=text]{
    font-size: x-large;
    width: 100%;
    margin-bottom: 1%;
    border-top: none;
    border-right: none;
    height:fit-content;
    border-radius:5px;
    background-color: white     ;
}

#form-sartori{
    font-size: x-large;
    width: 100%;
    margin-bottom: 1%;
    border-top: none;
    border-right: none;
    height:fit-content;
    border-radius:5px;
    background-color: white     

}

#nome-cliente{
    background-color: white;
}

#guincho{
    font-size: x-large;
    width: 90%;
    margin-bottom: 1%;
    border-top: none;
    border-right: none;
    border-radius:5px;
}

#form-sartori{
    width: 90%;
}

.button-section{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: right;
   
}

button{
    height: auto;
    width: fit-content;
    font-size: x-large;
    border-radius: 10px;
    justify-items: center;
    position: top;   
    margin-left: 10px;
    transition-property:background;
    transition-duration: 1s;
    cursor: pointer;
}


input[type=submit]{
    font-size: x-large;
    height: auto;
    align-items: center;
    justify-content: center;
    width: 177.39px;
    border-radius: 10px;  
    transition-property:background;
    transition-duration: 1s;
    cursor: pointer;
}

button:hover{
    background: rgb(190, 190, 190); 
}

input[type=submit]:hover{
    background: rgb(190, 190, 190); 
}

.conteiner-cart{
    height: 600px;
    width: 1200px;
    background-color: rgb(214, 214, 214) ;
    border-radius: 10px;
    margin: 2% auto;
    position:relative;
}


.header-cartao{
    height: 180px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: black;
<<<<<<< HEAD
<<<<<<< HEAD
    background-image: url("../assets/logobranca.png");
=======
    background-image: url("https://raw.githubusercontent.com/joao-passos2001/Projeto-Sartori/main/logobranca.png");
>>>>>>> 60848d8fdeaa7c4c29d58d5c2e2929a03eb49e67
=======
    background-image: url("https://raw.githubusercontent.com/joao-passos2001/Projeto-Sartori/main/logobranca.png");
>>>>>>> 60848d8fdeaa7c4c29d58d5c2e2929a03eb49e67
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left;

}

.content-cartao{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 70%;
    position: relative;
    flex-wrap: wrap;
    font-size: x-large;
    align-items: last baseline;
    align-content: space-around;
    grid-column-gap: 10px;
    padding-left: 40px;
    overflow: hidden;


}

span{
    text-decoration: underline;
}


.cliente-nome{
    width: 600px;
    max-width: 600px;
    box-sizing: border-box;
    display: grid;
    grid-gap:10px;
    text-transform: capitalize;
}

label::before{

    text-decoration: underline;
}

label{
    font-size: xx-large;
}
.tel-guincho{
    
    width: 100%;
    box-sizing: border-box;
    display:grid ;
    grid-gap:10px;
}

.tel-duvida{
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-gap:10px
}

.tel-contrato{
    width: 50%;
    box-sizing: border-box;
    display: grid;
    grid-gap:10px;
    align-items: baseline;
}

.telefone-sartori{
    width: 50%;
    box-sizing: border-box;
    display: grid;
    grid-gap:10px;

}


